/* Global Styles
-------------------------------*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
  margin-top: 0;
}

a {
  color: #ef233c;
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: auto;
}

.col-narrow {
  width: 30%;
  float: left;
  min-height: 175px;
}

.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
  min-height: 175px;
}

/* Header and footer
-------------------------------*/
header, footer {
  background: #2b2d42;
  color: #8d99ae;
}

header h1, header h2 {
  color: #edf2f4;
  margin: 0;
}

header {
  text-align: center;
}

.profile-img {
  border-radius: 50%;
}

footer {
  text-align: center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}


/* Work Experience
-------------------------------*/
.work {
  background: #edf2f4;
}

/* Education
-------------------------------*/
.education {
  background: #8d99ae;
}
